.button {
  .button;

  box-sizing: border-box;

  max-width: 280px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  background-color: @basic-button-color;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
}
