.card {
  padding-top: 19px;

  border-top: 1px solid @card-border-color;

  @media (min-width: @tablet) {
    padding: 161px 36px 39px;

    border-top: none;

    position: relative;

    background-color: @secondary-bg-color;
  }
}

.card__wrapper {
  margin: 0 20px;

  @media (min-width: @tablet) {
    margin: 0;
  }
}

.card__layout {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: minmax(110px, auto) auto;

  gap: 20px 0;

  @media (min-width: 321px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40px;

    justify-content: center;

    gap: 33px 0;
  }
}

.card__image-container {
  margin: 0;

  align-self: center;
  justify-self: center;

  @media (min-width: @tablet) {
    position: absolute;

    top: -10%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.card__image-container--position {
  @media (min-width: @tablet) {
    top: -17%;
  }
}

.card__title {
  margin-top: 0;
  margin-bottom: 18px;

  .title--s;

  @media (min-width: @tablet) {
    margin-bottom: 21px;

    text-align: center;

    .title--m--catalog;
  }
}

.card__break {
  @media (min-width: @tablet) {
    display: none;
  }
}

.card__break--tablet {
  display: none;

  @media (min-width: @tablet) {
    display: inline-block;
  }
}

.card__detail {
  margin-top: 0;
  margin-bottom: 0;

  .basic-text-style--xs;

  @media (min-width: @tablet) {
    display: grid;

    gap: 14px;

    .basic-text-style--ml;
  }
}

.card__detail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet) {
    border-bottom: 1px solid @additional-border-color;

    padding-bottom: 9px;
  }
}

.card__button {
  padding: 10px 25px;

  grid-column: 1 / -1;
}
