.card-additional {
  border-top: 1px solid @additional-border-color;

  padding-top: 13px;
}

.card-additional_layout {
  display: grid;
}

.card-additional__title {
  margin-top: 0;
  margin-bottom: 13px;

  .subtitle;
  color: @card-title-text-color;
}

.card-additional__info {
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  justify-content: space-between;

  .basic-text-style--s;
}

.card-additional__button {
  padding: 10px 25px;
  margin-top: 15px;

  min-width: 100%;
}


