.card {
  display: grid;

  grid-template-columns: minmax(141px, auto) minmax(139px, auto);
  grid-template-rows: auto min-content;

  row-gap: 22px;

  @media (min-width: @tablet) {
    grid-template-columns: 252px;
    grid-template-rows: min-content min-content;
    justify-content: center;

    background-color: @secondary-bg-color;

    position: relative;
  }

  @media (min-width: @desktop) {
    justify-content: start;
  }
}

.card__wrapper {
  max-width: 400px;

  margin: 0 auto;

  @media (min-width: @tablet) {
    padding: 161px 36px 40px;
  }
}

.card__image {
  align-self: center;
  justify-self: center;

  @media (min-width: @tablet) {
    position: absolute;

    top: -5%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.card__text-wrapper {
  @media (min-width: @desktop) {
    max-width: 180px;
  }
}

.card__button {
  grid-column: 1 / -1;

  padding: 10px 20px 10px;

  @media (min-width: @tablet) {
    max-width: 248px;
  }

  @media (min-width: @desktop) {
    max-width: 180px;
  }
}

.card__title {
  .subtitle;
  color: @card-title-text-color;
  font-size: 16px;

  margin-top: 0;
  margin-bottom: 18px;

  @media (min-width: @tablet) {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
  }
}

.card__break--tablet {
  display: none;

  @media (min-width: @tablet) {
    display: inline-block;
  }
}

.card__break {
  @media (min-width: @tablet) {
    display: none;
  }
}


.card__info {
  margin: 0;
}

.card__info-item {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet) {
    border-bottom: 1px solid @optional-border-color;

    padding-bottom: 9px;
    margin-top: 5px;
  }
}

.card__info-term {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet) {
    font-size: 16px;
  }
}

.card__info-def {
  font-size: 12px;
  line-height: 16px;

  margin-left: 0;

  @media (min-width: @tablet) {
    font-size: 16px;
  }
}
