.catalog-additional {
  padding: 25px 0 35px;

  min-width: 280px;
}

.catalog-additional__wrapper {
  margin: 0 20px;

  @media (min-width: @tablet) {
    margin: 0 30px;
  }

  @media (min-width: @desktop) {
    margin: 0 110px;
  }
}

.catalog-additional__layout {
  display: grid;

  gap: 25px;
}

.catalog-additional__title {
  .title--m;

  margin-top: 0;
  margin-bottom: 36px;
}
