.catalog-additional {
  padding: 25px 0 35px;

  min-width: 280px;

  position: relative;
  overflow-x: hidden;

  &::before {
    content: "";

    display: block;

    width: 4000px;
    height: 2px;

    position: absolute;
    top: 39px;
    left: -50%;

    z-index: -1;

    background-color: @hero-bg-color;

    @media (min-width: @tablet) {
      top: 22px;
    }
  }

  @media (min-width: @tablet) {
    padding: 0 0 75px;
  }

  @media (min-width: @desktop) {
    padding: 0 0 86px;
  }
}

.catalog-additional__wrapper {
  margin: 0 20px;

  @media (min-width: @tablet) {
    margin: 0 30px;
  }

  @media (min-width: @desktop) {
    margin: 0 110px;
  }
}

.catalog-additional__section-layout {
  display: grid;

  gap: 35px;

  @media (min-width: @tablet) {
    gap: 69px;
  }

  @media (min-width: @desktop) {
    grid-template-columns: 1fr 244px;

    align-items: center;

    gap: 0 80px;
  }
}

.catalog-additional__layout {
  display: grid;

  gap: 18px;

  @media (min-width: @tablet) {
    gap: 0;
  }
}

.catalog-additional__title {
  margin-top: 0;
  margin-bottom: 34px;
  padding-left: 30px;
  margin-left: -30px;

  max-width: 277px;

  .title--m;
  background-color: @default-bg-color;

  @media (min-width: @tablet) {
    margin-bottom: 80px;
    padding-left: 37px;
    margin-left: 0;

    max-width: 411px;

    .subheading--m;
  }

  @media (min-width: @desktop) {
    padding-left: 40px;
    margin-left: -40px;

    max-width: 413px;
  }
}
