.catalog-additional {
  padding: 25px 0 35px;

  min-width: 280px;

  @media (min-width: @tablet) {
    padding-top: 0;
    padding-bottom: 76px;
  }

  @media (min-width: @tablet) {
    padding-bottom: 86px;
  }
}

.catalog-additional__wrapper {
  margin: 0 20px;

  @media (min-width: @tablet) {
    margin: 0 30px;
  }

  @media (min-width: @desktop) {
    margin: 0 110px;
  }
}

.catalog-additional__section-layout {
  display: grid;

  gap: 54px;

  @media (min-width: @tablet) {
    gap: 69px;
  }

  @media (min-width: @desktop) {
    grid-template-columns: 1fr 244px;

    align-items: center;

    gap: 0 80px;
  }
}

.catalog-additional__layout {
  display: grid;

  gap: 19px;

  @media (min-width: @tablet) {
    gap: 0;
  }
}

.catalog-additional__title {
  margin-top: 0;
  margin-bottom: 36px;

  .title--m;

  @media (min-width: @tablet) {
    margin-bottom: 80px;

    .subheading--m
  }
}
