.contacts-list {
  margin: 0;
  padding-left: 0;

  list-style-type: none;
}

.contacts-list__layout {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.contacts-list__link {
  padding: 15px 0;

  color: @footer-text-color;
}
