.feature-card {
  padding: 30px 33px 18px 20px;

  background-color: @secondary-bg-color;

  @media (min-width: @tablet) {
    padding: 77px 53px 52px;
  }

  @media (min-width: @desktop) {
    padding: 77px 53px 55px;
  }
}

.feature-card__container {
  position: relative;

  @media (min-width: @tablet) {
    max-width: 345px;
  }

  @media (min-width: @desktop) {
    max-width: none;
  }

  &::before {
    content: "";

    display: block;

    width: 50px;
    height: 50px;

    position: absolute;
    top: 0;
    left: 0;

    background: url("../../img/features/cat_icon.svg") no-repeat;

    @media (min-width: @tablet) {
      width: 200px;
      height: 211px;

      top: 0;
      left: 370px;
      transform: none;

      background: url("../../img/features/cat_icon--tablet.svg") no-repeat;
    }

    @media (min-width: @desktop) {
      width: 100px;
      height: 100px;

      top: -40px;
      left: 0;
      transform: none;

      background: url("../../img/features/cat_icon--desktop.svg") no-repeat;
    }
  }
}

.feature-card__title {
  margin-top: 0;
  margin-bottom: 29px;
  padding-left: 60px;

  .subheading;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    margin-bottom: 24px;
    padding-left: 0;

    .subheading--m;
  }

  @media (min-width: @desktop) {
    margin-bottom: 73px;
    padding-left: 162px;
  }
}

.feature-card__subtitle {
  margin-top: 0;

  color: @secondary-text-color;
}

.feature-card__link {
  display: block;

  margin-top: 23px;

  .subtitle;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    margin-top: 48px;

    .subtitle--m;
  }

  @media (min-width: @desktop) {
    margin-top: 23px;

    .subtitle--m;
  }
}
