.feature-card {
  padding: 30px 25px 18px 20px;

  position: relative;

  background-color: @secondary-bg-color;

  @media (min-width: @tablet) {
    min-height: 372px;
    padding: 77px 53px 52px;
  }

  @media (min-width: @desktop) {
    min-height: 374px;
  }

  &::before {
    content: "";

    display: block;

    position: absolute;

    @media (min-width: @tablet) {
      top: 50%;
      left: 60%;
      transform: translateY(-50%);
    }

    @media (min-width: @desktop) {
      top: 47px;
      left: 52px;
      transform: none;
    }
  }
}

.feature-card--slim {
  &::before {
    width: 50px;
    height: 53px;

    top: 21px;
    left: 22px;

    background: url("../img/features/cat-slim.svg") no-repeat;

    @media (min-width: @tablet) {
      width: 200px;
      height: 211px;

      top: 50%;
      left: 63%;

      background: url("../img/features/cat-slim--tablet.svg") no-repeat;
    }

    @media (min-width: @desktop) {
      width: 100px;
      height: 106px;

      top: 41px;
      left: 52px;

      background: url("../img/features/cat-slim--desktop.svg") no-repeat;
    }
  }
}

.feature-card--gain {
  &::before {
    width: 67px;
    height: 50px;

    top: 25px;
    left: 13px;

    background: url("../img/features/cat-gain.svg") no-repeat;

    @media (min-width: @tablet) {
      width: 268px;
      height: 200px;

      top: 51%;
      left: 58%;

      background: url("../img/features/cat-gain--tablet.svg") no-repeat;
    }

    @media (min-width: @desktop) {
      width: 134px;
      height: 100px;

      top: 47px;
      left: 33px;

      background: url("../img/features/cat-gain--desktop.svg") no-repeat;
    }
  }
}

.feature-card__container {
  @media (min-width: @tablet) {
    max-width: 340px;
  }

  @media (min-width: @desktop) {
    max-width: none;
  }
}

.feature-card__title {
  margin-top: 0;
  margin-bottom: 29px;
  padding-left: 71px;

  .subheading;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    margin-bottom: 24px;
    padding-left: 0;

    .subheading--m;
  }

  @media (min-width: @desktop) {
    margin-bottom: 75px;
    padding-left: 162px;
  }
}

.feature-card__subtitle {
  margin-top: 0;
  margin-bottom: 23px;

  color: @secondary-text-color;

  @media (min-width: @desktop) {
    margin-bottom: 21px;
  }
}

.feature-card__link-container {
  border-top: 2px solid @secondary-border-color;
  padding-top: 18px;

  @media (min-width: @tablet) {
    border-top: none;
    padding-top: 0;
  }
}

.feature-card__link {
  display: inline-block;

  position: relative;

  .subtitle;
  text-decoration: none;
  text-transform: uppercase;

  &:hover .feature-card__link-icon {
    transform: scaleX(1.4);
  }

  &:focus {
    outline: 3px dashed @hero-bg-color;
    outline-offset: 3px;
  }

  &:active {
    color: fade(@secondary-text-color, 30%);
  }

  &:active::before {
    opacity: 0.3;
  }

  @media (min-width: @tablet) {
    margin-top: 29px;

    .subtitle--m;
  }

  @media (min-width: @desktop) {
    margin-top: 4px;
  }
}

.feature-card__link-icon {
  position: absolute;

  top: 5%;
  right: -51%;

  transform: scaleX(1);
  transform-origin: center left;
  transition: transform 0.5s;

  @media (min-width: @tablet) {
    top: 30%;
    right: -50px;
  }

  @media (min-width: @desktop) {
    top: 30%;
    right: -51px;
  }

  &--position {
    right: -40px;

    @media (min-width: @tablet) {
      right: -49px;
    }

    @media (min-width: @desktop) {
      right: -52px;
    }
  }
}
