.feature {
  min-width: 280px;
}

.feature__wrapper {
  margin: 0 20px;
  margin-bottom: 20px;

  @media (min-width: @tablet) {
    margin: 0 30px;
  }

  @media (min-width: @desktop) {
    margin: 0 110px;
  }
}

.feature__layout {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-rows: auto;

  gap: 20px;
}
