// Форма

.form {
  padding-top: 25px;
  padding-bottom: 31px;

  border-top: 1px solid @secondary-border-color;

  overflow-x: hidden;

  @media (min-width: @tablet) {
    padding: 58px 37px 72px 39px;

    border-top: none;
  }

  @media (min-width: @desktop) {
    padding: 70px 0;
    padding-bottom: 82px;
  }
}

.form__wrapper {
  @media (min-width: @tablet) {
    margin: 0 30px;
  }

  @media (min-width: @desktop) {
    margin: 0 110px;
  }
}


// Хэдэр

.form__header {
  margin: 0 20px;

  @media (min-width: @tablet) {
    margin: 0;
  }
}

.form__title {
  margin-top: 0;
  margin-bottom: 37px;

  .subheading--m;

  @media (min-width: @tablet) {
    margin-bottom: 56px;

    .extra-heading;
  }

  @media (min-width: @desktop) {
    margin-bottom: 58px;
  }
}

.form__subtitle {
  margin-top: 0;
  margin-bottom: 40px;

  .secondary-text-style;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    margin-bottom: 66px;

    .subtitle--m;
  }
}


// Данные питомца

.form__pet-container {
  display: grid;

  gap: 22px 0;

  @media (min-width: @tablet) {
    margin-bottom: 75px;

    gap: 72px 0;
  }

  @media (min-width: @desktop) {
    margin-bottom: 68px;

    grid-template-columns: 1fr 1fr;

    gap: 0 80px;
  }
}

.form__pet-date-wrapper {
  margin: 0 20px;

  @media (min-width: @tablet) {
    margin: 0;
  }
}

.form__pet-date-layout {
  display: grid;
  grid-template-columns: minmax(280px, auto);

  gap: 15px 0;

  @media (min-width: @tablet) {
    gap: 20px 0;
  }
}

.form__pet-item-wrapper {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.form__pet-title {
  margin-right: 13px;

  .secondary-text-style--form;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    margin-right: 17px;
    .form-text-style;
  }

  &--gap-weight {
    margin-right: 16px;

    @media (min-width: @tablet) {
      margin-right: 20px;
    }
  }

  &--gap-age {
    margin-right: 15px;

    @media (min-width: @tablet) {
      margin-right: 18px;
    }
  }
}

.form__pet-input {
  padding: 11px 15px 8px;

  flex: 1;

  min-width: 172px;

  border: 1px solid @input-border-color;
  .secondary-text-style--form;

  @media (min-width: @tablet) {
    padding: 13px 20px;
  }

  &::placeholder {
    .secondary-text-style--form;
    text-transform: uppercase;

    @media (min-width: @tablet) {
      .form-text-style;
    }
  }

  &:hover {
    border-color: @input-hover-border-color;
  }

  &:focus {
    border-color: @input-focus-border-color;
  }

  &--error {
    border-color: @input-error-border-color;
  }
}


// Программа

.form__program {
  padding-top: 28px;
  padding-bottom: 22px;

  border-top: 1px solid @secondary-border-color;

  @media (min-width: @tablet) {
    padding: 30px 0;
    padding-bottom: 27px;

    border-top: none;
    border: 1px solid @secondary-border-color--additional;
  }
}

.form__program-wrapper {
  margin: 0 20px;
}

.form__program-layout {
  display: grid;

  gap: 23px;
}

.form__program-item-wrapper {
  padding-left: 45px;

  position: relative;

  @media (min-width: @tablet) {
    padding-left: 68px;
    .form-text-style;
  }
}

.form__program-title {
  .secondary-text-style--input;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    .form-text-style;
  }
}

.form__program-input {
  &:checked + .form__program-controls::before {
    background-color: @checkbox-controls-color;
  }

  &:hover + .form__program-controls {
    border-color: @checkbox-hover-border-color;
  }

  &:focus + .form__program-controls {
    border-color: @checkbox-hover-border-color;
    outline: 3px dashed @checkbox-hover-border-color;
    outline-offset: 5px;
  }

  &:disabled ~ .form__program-title {
    opacity: 0.3;
  }
}

.form__program-controls {
  width: 30px;
  height: 30px;

  position: absolute;

  top: 45%;
  left: 0;
  transform: translateY(-50%);

  border: 1px solid @checkbox-border-color;
  border-radius: 50%;

  &::before {
    content: "";

    width: 14px;
    height: 14px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: transparent;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
  }

  @media (min-width: @tablet) {
    width: 40px;
    height: 40px;

    top: 44%;
    left: 8px;
  }
}


// Персональные данные

.form__personal-date {
  padding-top: 26px;
  padding-bottom: 24px;

  border-top: 1px solid @secondary-border-color;

  position: relative;

  &::before {
    content: "";

    display: block;

    width: 4000px;
    height: 2px;

    position: absolute;
    top: 42px;
    left: -50%;

    z-index: -1;

    background-color: @hero-bg-color;

    @media (min-width: @tablet) {
      top: 23px;
    }

    @media (min-width: @desktop) {
      top: 22px;
    }
  }

  @media (min-width: @tablet) {
    padding: 0;

    border-top: none;
  }
}

.form__personal-date-wrapper {
  margin: 0 20px;

  @media (min-width: @tablet) {
    margin: 0;
    margin-bottom: 65px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 66px;
  }
}

.form__personal-title {
  margin-top: 0;
  margin-bottom: 35px;

  max-width: 231px;
  padding-left: 30px;
  margin-left: -30px;

  background-color: @default-bg-color;
  .secondary-text-style--form-title;

  @media (min-width: @tablet) {
    margin-bottom: 76px;
    margin-left: -40px;
    padding-left: 38px;

    max-width: 593px;

    .subheading--m;
  }
}

.form__personal-break {
  @media (min-width: @tablet) {
    display: none;
  }
}

.form__personal-layout {
  display: grid;
  grid-template-columns: minmax(280px, auto);

  gap: 14px 0;

  @media (min-width: @tablet) {
    gap: 20px 0;
  }

  @media (min-width: @desktop) {
    grid-template-columns: 1fr 1fr;

    gap: 30px 78px;
  }
}

.form__personal-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.form__personal-item-title {
  margin-right: 10px;

  .secondary-text-style--form;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    margin-right: 20px;

    .form-text-style;
  }

  &--gap {
    margin-right: 9px;

    @media (min-width: @tablet) {
      margin-right: 14px;
    }
  }
}

.form__personal-icon {
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);

  @media (min-width: @tablet) {
    right: 16px;
  }

  @media (min-width: @desktop) {
    top: 49%;
    margin-right: 4px;
  }
}

.form__personal-input {
  padding: 10px 40px 9px 15px;

  flex: 1;

  min-width: 204px;

  border: 1px solid @input-border-color;
  .secondary-text-style--form;

  @media (min-width: @tablet) {
    padding: 13px 45px 14px 21px;
  }

  &::placeholder {
    .secondary-text-style--form;
    text-transform: uppercase;

    @media (min-width: @tablet) {
      .form-text-style;
    }
  }

  &:hover {
    border-color: @input-hover-border-color;
  }

  &:focus {
    border-color: @input-focus-border-color;
  }

  &:focus + .form__personal-icon {
    color: @checkbox-controls-color;
  }

  &--error {
    border-color: @input-error-border-color;
  }

  &--error + .form__personal-icon {
    color: @input-error-border-color;
  }
}


// Комментарии

.form__comment {
  position: relative;

  &::before {
    content: "";

    display: block;

    width: 4000px;
    height: 2px;

    position: absolute;
    top: 15px;
    left: -50%;

    z-index: -1;

    background-color: @hero-bg-color;

    @media (min-width: @tablet) {
      top: 21px;
    }

    @media (min-width: @desktop) {
      top: 22px;
    }
  }
}

.form__comment-wrapper {
  margin: 0 20px;
  margin-bottom: 23px;

  @media (min-width: @tablet) {
    margin: 0;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 63px;
  }
}

.form__comment-title {
  margin-top: 0;
  margin-bottom: 37px;

  max-width: 173px;
  padding-left: 30px;
  margin-left: -30px;

  background-color: @default-bg-color;

  .secondary-text-style--form-title;

  @media (min-width: @tablet) {
    margin-bottom: 76px;
    padding-left: 39px;
    margin-left: -40px;

    max-width: 262px;

    .subheading--m;
  }
}

.form__comment-area {
  margin: 0;
  padding: 10px 14px;
  padding-bottom: 48px;

  width: 100%;

  border: 1px solid @input-border-color;
  .secondary-text-style--form;
  text-transform: uppercase;

  &:hover {
    border-color: @input-hover-border-color;
  }

  &:focus {
    border-color: @input-focus-border-color;
    outline: 3px dashed @checkbox-hover-border-color;
    outline-offset: 3px;
  }

  @media (min-width: @tablet) {
    padding: 10px 19px;
    padding-bottom: 12px;

    .form-text-style;
  }
}


// Дополнительно

.form__additional {
  position: relative;

  &::before {
    content: "";

    display: block;

    width: 4000px;
    height: 2px;

    position: absolute;
    top: 15px;
    left: -50%;

    z-index: -1;

    background-color: @hero-bg-color;

    @media (min-width: @tablet) {
      top: 22px;
    }

    @media (min-width: @desktop) {
      top: 23px;
    }
  }
}

.form__additional-wrapper {
  margin: 0 20px;

  @media (min-width: @tablet) {
    margin: 0;
  }
}

.form__additional-title {
  margin-top: 0;
  margin-bottom: 40px;

  max-width: 194px;
  padding-left: 30px;
  margin-left: -30px;

  background-color: @default-bg-color;

  .secondary-text-style--form-title;

  @media (min-width: @tablet) {
    margin-bottom: 63px;
    padding-left: 39px;
    margin-left: -40px;

    max-width: 292px;

    .subheading--m;
  }
}

.form__additional-layout {
  display: grid;

  gap: 22px;

  @media (min-width: @tablet) {
    grid-template-columns: 1fr 1fr;

    gap: 42px 57px;
  }

  @media (min-width: @desktop) {
    grid-template-columns: repeat(4, 1fr);

    gap: 42px 80px;
  }
}

.form__add-item-title {
  .secondary-text-style--input-darken;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    .subtitle--m;
  }
}

.form__add-item-wrapper {
  padding-left: 46px;
  position: relative;

  @media (min-width: @tablet) {
    padding-left: 59px;
  }
}

.form__add-input:checked + .form__add-controls::before {
  opacity: 1;
}

.form__add-input {
  &:hover + .form__add-controls {
    border-color: @checkbox-hover-border-color;
  }

  &:focus + .form__add-controls {
    border-color: @checkbox-hover-border-color;
    outline: 3px dashed @checkbox-hover-border-color;
    outline-offset: 5px;
  }

  &:disabled + .form__add-controls {
    opacity: 0.3;
  }

  &:disabled ~ .form__add-item-title {
    opacity: 0.3;
  }
}

.form__add-controls {
  width: 30px;
  height: 30px;

  position: absolute;

  top: 50%;
  left: 0;
  transform: translateY(-50%);

  border: 1px solid @checkbox-border-color;

  &::before {
    content: "";

    width: 18px;
    height: 14px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url("../../img/form/checked.svg") no-repeat center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  @media (min-width: @tablet) {
    width: 40px;
    height: 40px;

    top: 49%;
  }
}


// Кнопка

.form__footer-wrapper {
  margin: 0 20px;
  margin-top: 39px;

  @media (min-width: @tablet) {
    margin: 0;

    margin-top: 58px;
  }

  @media (min-width: @desktop) {
    margin-top: 65px;
  }
}

.form__footer-layout {
  display: grid;

  gap: 17px;

  @media (min-width: @tablet) {
    grid-template-columns: 1fr 1fr;

    gap: 30px 65px;
  }

  @media (min-width: @desktop) {
    grid-template-columns: minmax(568px, auto) 1fr;

    gap: 30px 85px;
  }
}

.form__button {
  padding: 10px 25px;

  @media (min-width: @tablet) {
    padding: 16px 25px;

    font-size: 20px;
  }
}

.form__legend {
  margin-top: 0;
  margin-bottom: 0;

  justify-self: center;

  .basic-text-style--form-legend;

  @media (min-width: @tablet) {
    justify-self: flex-start;
    align-self: center;

    font-size: 16px;

    margin-top: -6px;
    margin-left: -3px;
  }
}
