// Форма
.form {
  border-top: 1px solid @form-border-color;

  box-sizing: border-box;
}

.form__header {
  max-width: 280px;

  margin: 0 auto;
  padding-top: 27px;
}

.form__title {
  .heading;

  margin-top: 0;
  margin-bottom: 37px;
}

.form__subtitle {
  .subtitle;
  line-height: 18px;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 39px;
}

// Данные питомца

.form__pet-date {
  .subtitle;
  font-size: 16px;
  line-height: 18px;
  color: @basic-text-color;
}

.form__pet-date-wrapper {
  max-width: 280px;

  margin: 0 auto;
  margin-bottom: 24px;
}

.form__pet-item-wrapper {
  display: flex;
  align-items: center;

  margin-bottom: 13px;
}

.form__pet-title {
  text-transform: uppercase;

  margin-right: 10px;
}

.form__pet-input {
  padding: 13px 0 13px 15px;

  flex: 1;
}

// Программа

.form__program {
  border-top: 1px solid @form-border-color;

  padding-top: 22px;

  .subtitle;
  font-size: 16px;
  line-height: 18px;
}

.form__program-wrapper {
  max-width: 280px;

  margin: 0 auto;
  margin-bottom: 19px;
}

.form__program-item-wrapper {
  display: flex;

  margin-bottom: 13px;
}

.form__program-input {
  display: none;
}

.form__program-title {
  padding-left: 45px;

  text-transform: uppercase;
  color: @input-form-text-color;
}

// Персональные данные

.form__personal-date {
  border-top: 1px solid @form-border-color;

  .subtitle;
  font-size: 16px;
  line-height: 18px;
}

.form__personal-date-wrapper {
  max-width: 280px;

  margin: 0 auto;
  margin-bottom: 23px;
}

.form__personal-title {
  margin-top: 0;
  margin-bottom: 35px;
  padding-top: 26px;

  .title;
  line-height: 26px;
}

.form__personal-item-wrapper {
  display: flex;
  align-items: center;

  margin-bottom: 14px;
}

.form__personal-item-title {
  text-transform: uppercase;
  color: @basic-text-color;

  margin-right: 10px;
}

.form__personal-input {
  flex: 1;

  padding: 13px 46px 15px 16px;
}

// Комментарий

.form__comment {
  max-width: 280px;

  margin: 0 auto;
}

.form__comment-title {
  .title;
  line-height: 26px;

  margin-top: 0;
  margin-bottom: 37px;
}


// Дополнительно

.form__additional {
  max-width: 280px;

  margin: 0 auto;
  margin-bottom: 34px;
}

.form__additional-title {
  .title;
  line-height: 26px;

  margin-top: 0;
  margin-bottom: 37px;
  padding-top: 22px;
}

.form__add-item-wrapper {
  margin-bottom: 12px;
}

.form__add-input {
  display: none;
}

.form__add-item-title {
  .subtitle;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  padding-left: 46px;
}

// Футер

.form__footer {
  max-width: 280px;

  margin: 0 auto;
}

.form__button {
  width: 100%;

  margin-bottom: 21px;
}

.form__legend {
  line-height: 16px;
  color: @secondary-text-color;
  text-align: center;
}
