.gift {
  min-height: 290px;

  padding: 130px 40px 42px;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  position: relative;

  background-color: @hero-bg-color;

  @media (min-width: @tablet) {
    min-height: 200px;

    padding: 69px 124px 68px 180px;

    align-items: center;
    justify-content: flex-end;
  }

  @media (min-width: @desktop) {
    min-height: 288px;
    min-width: 245px;

    padding: 160px 42px 42px;

    align-items: flex-end;
    justify-content: center;
  }

  &::before {
    content: "";

    display: block;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: url("../img/gift/gift-bg.webp") no-repeat;

    @media (min-resolution: 2dppx) {
      background: url("../img/gift/gift-bg@2x.webp") no-repeat;
      background-size: cover;
    }

    z-index: -1;

    @media (min-width: 321px) {
      background-size: cover;
    }

    @media (min-width: @tablet) {
      background-position: 0 -300px;
    }

    @media (min-width: @desktop) {
      background-position: -34px 0;
    }
  }

  &::after {
    content: "";

    display: block;

    width: 78px;
    height: 80px;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

    background: url("../img/gift/icon_gift.svg") no-repeat;

    @media (min-width: @tablet) {
      top: 48%;
      left: 11%;
      transform: translate(0, -50%);
    }

    @media (min-width: @desktop) {
      top: 33%;
      left: 34%;
    }
  }
}

.gift__title {
  margin-top: 0;
  margin-bottom: 0;

  .basic-text-style--l;
  color: @default-text-color;
  text-align: center;

  @media (min-width: @tablet) {
    text-align: start;
  }

  @media (min-width: @desktop) {
    text-align: center;
  }
}
