.main-nav {
  width: 100%;

  position: absolute;
  z-index: 3;

  top: 64px;
  left: 0;

  @media (min-width: @tablet) {
    width: auto;

    position: static;
  }
}

.main-nav--closed {
  display: none;

  @media (min-width: @tablet) {
    display: block;
  }
}

.main-nav--nojs {
  display: block;

  position: static;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  display: flex;
  flex-flow: column nowrap;

  list-style-type: none;
  text-align: center;

  @media (min-width: @tablet) {
    display: flex;
    gap: 36px;
    justify-content: space-between;
    flex-flow: row wrap;
    padding-top: 17px;

    max-width: 480px;
  }

  @media (min-width: @desktop) {
    gap: 35px;
    padding-top: 35px;

    max-width: 610px;
  }
}

.main-nav__item {
  position: relative;

  border-top: 1px solid @basic-border-color;
  background-color: @default-bg-color;

  @media (min-width: @tablet) {
    border-top: none;
  }

  @media (min-width: @desktop) {
    background-color: transparent;
  }

  &:last-child {
    border-bottom: 1px solid @basic-border-color;

    @media (min-width: @tablet) {
      border-bottom: none;
    }
  }
}

.main-nav__link {
  display: block;
  padding: 23px 20px;

  color: inherit;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    opacity: 0.7;
  }

  &:focus-visible {
    outline: 3px dashed @hero-bg-color;
    outline-offset: -5px;
  }

  &:active {
    opacity: 0.5;
  }

  @media (min-width: @tablet) {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 8px;

    &:focus-visible {
      outline-offset: 3px;
    }
  }

  @media (min-width: @desktop) {
    padding-top: 35px;
    padding-bottom: 7px;

    .header-text-style--desktop;
  }

  &--focus {
    &:focus-visible {
      outline: 3px dashed @default-bg-color;
    }
  }
}

.main-nav__link--current {
  @media (min-width: @tablet) {
    &::before {
      content: "";

      width: 100%;
      height: 2px;

      background-color: @header-active-border-color;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

.main-nav__link--current-lighten {
  @media (min-width: @desktop) {
    &::before {
      content: "";

      width: 100%;
      height: 2px;

      background-color: @header-active-border-color--lighten;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
}

.main-nav__link--dark {
  color: @additional-text-color;
}
