.main-header {
  .secondary-text-style(
    @oswald;
    normal;
    500;
    20px;
    20px;
    @secondary-text-color);

  position: relative;
}

.main-header__wrapper {
  max-width: 280px;

  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.main-header__logo-icon {
  margin-right: 55px;
  padding: 12px 0 16px;

  flex: 1;
}

.main-header__logo {
  margin-right: 65px;
  padding: 24px 0 24px;
  flex: 1;
}

.main-nav--close {
  display: none;
}

.main-nav__list {
  width: 100%;

  padding: 0;
  margin: 0;

  position: absolute;
  left: 0;
  top: 68px;

  list-style-type: none;
  text-align: center;
}

.main-nav__link {
  display: block;

  padding: 22px 0 24px;

  border-top: 1px solid @basic-border-color;
  background-color: @basic-bg-color;
  text-decoration: none;
  color: inherit;
}

.main-header__nav-toggle {
  min-width: 24px;
  min-height: 18px;

  padding: 24px 0 24px;

  background: @basic-bg-color url("../../img/main-header/__toggle.svg") no-repeat center center;
  border: none;
  cursor: pointer;

  flex: 1;
}
