.main-footer {
  min-width: 280px;

  background-color: @secondary-bg-color;
}

.main-footer__wrapper {
  margin: 0 20px;

  @media (min-width: @tablet) {
    margin: 0 30px;
  }

  @media (min-width: @desktop) {
    margin: 0 110px;
  }
}

.main-footer__layout {
  display: grid;
  grid-template-rows: 94px 1fr 78px;

  align-items: center;

  @media (min-width: @tablet) {
    grid-template-columns: 128px 1fr 163px;
    grid-template-rows: minmax(147px, auto);
    grid-auto-rows: minmax(147px, auto);
  }
}

.main-footer__logo {
  justify-self: center;
}

.main-footer__contacts {
  padding-top: 20px;

  border-top: 1px solid @footer-border-color;

  @media (min-width: @tablet) {
    padding-top: 0;

    border-top: none;
  }
}

.main-footer__container {
  padding-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid @footer-border-color;

  @media (min-width: @tablet) {
    padding-top: 0;

    border-top: none;
  }
}

.main-footer__copyright {
  .basic-text-style--ml-additional;
  text-decoration: none;
}

.main-footer__address-link {
  color: @footer-text-color;
}
