.optional-card {
  display: flex;
  flex-direction: column;

  padding-top: 13px;
}

.optional-card__title {
  .subtitle;
  font-size: 16px;
  line-height: 16px;
  color: @card-title-text-color;

  margin-top: 0;
  margin-bottom: 13px;
}

.optional-card__info {
  display: flex;
  justify-content: space-between;

  margin-top: 0;
  margin-bottom: 15px;
}

.optional-card__term {
  line-height: 14px;
}

.optional-card__def {
  line-height: 14px;

  margin-left: 0;
}
