.partner__wrapper {
  max-width: 280px;

  margin: 0 auto;
  padding: 26px 0 26px;
}

.partner__address {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partner__title {
  .subtitle;
  font-size: 16px;
  text-transform: uppercase;
}

.partner__location-picture {
  display: block;
}
