.partner {
  position: relative;
}

.partner__wrapper {
  min-width: 280px;

  margin: 0 20px;
  padding: 26px 0 26px;

  @media (min-width: @tablet) {
    margin: 0 30px;
    padding: 57px 40px;
  }

  @media (min-width: @desktop) {
    min-width: 565px;

    padding: 57px 80px;

    position: absolute;

    top: 50%;
    left: 110px;
    transform: translateY(-50%);

    background-color: @basic-bg-color;
  }
}

.partner__address {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partner__title {
  .subtitle;
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    font-size: 20px;
    line-height: 20px;

    min-width: 171px;
  }

  @media (min-width: @desktop) {
    line-height: 26px;
  }
}

.partner__subtitle {
  margin: 0;

  @media (min-width: @tablet) {
    font-size: 16px;
    line-height: 20px;

    text-align: end;
  }

  @media (min-width: @desktop) {
    text-align: start;
  }
}

.partner__city {
  @media (min-width: @tablet) {
    display: inline-block;

    margin-top: 20px;
  }
}

.partner__location-picture {
  display: block;

  width: 100%;
  object-fit: cover;
}

.partner--background-secondary {
  background-color: @secondary-bg-color;
}

.partner--margin-top {
  margin-top: 32px;
}
