.promo {
  min-width: 280px;
  max-width: 1280px;

  padding-top: 27px;

  position: relative;

  @media (min-width: @tablet) {
    padding-top: 0;

    background: none;
  }

  &::before {
    content: "";

    display: block;

    width: 100%;
    height: 302px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background-image: linear-gradient(@hero-bg-color, @hero-bg-color 302px, @default-bg-color 302px, @default-bg-color);

    @media (min-width: @tablet) {
      display: none;
    }

    @media (min-width: @desktop) {
      display: block;

      height: 694px;
      width: 720px;

      top: -118px;
      left: 50%;

      background-image: none;
      background-color: @hero-bg-color;

    }
  }

  &::after {
    content: "";

    display: block;

    width: 100%;
    height: 302px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    background: url("../../img/promo/cat.jpg") no-repeat;

    @media (min-width: 321px) {
      background-size: cover;
      background-position: 0 30%;
    }

    @media (min-width: @tablet) {
      display: none;
    }

    @media (min-width: @desktop) {
      display: block;

      width: 720px;
      height: 694px;

      top: -118px;
      left: 50%;

      background: url("../../img/promo/cat--desktop.jpg") no-repeat;
      background-size: contain;
      background-position: none;
    }
  }
}

.promo__wrapper {
  margin: 0 20px;
  margin-bottom: 20px;

  @media (min-width: @tablet) {
    margin: 0 30px;
  }

  @media (min-width: @desktop) {
    margin: 0 110px;
    margin-bottom: 82px;
  }
}

.promo__container {
  min-height: 480px;

  display: flex;
  flex-flow: column nowrap;

  position: relative;

  z-index: 2;

  text-align: center;

  @media (min-width: @tablet) {
    padding: 68px 89px;

    min-height: 874px;
  }

  @media (min-width: @desktop) {
    padding: 107px 80px;

    min-height: 576px;
  }

  &::before {
    content: "";

    display: block;

    width: 280px;
    height: 270px;

    position: absolute;
    top: 167px;
    left: 50%;
    transform: translateX(-50%);

    background: url("../../img/promo/promo-image.jpg") no-repeat;

    @media (min-width: @tablet) {
      width: 709px;
      height: 609px;

      top: 263px;
      left: 50%;
      z-index: -1;

      background: url("../../img/promo/promo-image--tablet.png") no-repeat;
    }

    @media (min-width: @tablet) {
      width: 522px;
      height: 499px;

      top: 70px;
      left: 70%;
      z-index: -1;

      background: url("../../img/promo/promo-image--desktop.png") no-repeat;
    }
  }
}

.promo__title {
  .subheading--m;
  color: @default-text-color;

  margin-top: 0;
  margin-bottom: 25px;

  @media (min-width: @tablet) {
    .extra-heading;
    text-align: start;

    margin-bottom: 41px;
  }
}

.promo__break {
  display: none;

  @media (min-width: @tablet) {
    display: block;
  }

  @media (min-width: @desktop) {
    display: block;
  }
}

.promo__subtitle {
  margin-top: 0;
  margin-bottom: 0;

  .promo-title--xs;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    .promo-title--tablet;
    text-align: start;
  }
}

.promo__button {
  display: block;

  padding: 14px 20px;
  margin-top: auto;

  .button--xs;
  text-decoration: none;

  @media (min-width: @tablet) {
    margin-top: 49px;

    max-width: 244px;

    .button--m;
  }
}

