.slider {
  width: 280px;
  min-height: 256px;

  position: relative;

  z-index: 3;
}

.slider__prev {
  width: 50%;

  overflow-x: hidden;

  position: absolute;
  top: 0;
  left: 25%;
  transform: translateX(-50%);

  z-index: 2;
}

.slider__after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  z-index: 1;
}

.slider__button {
  padding: 0;

  width: 40px;
  height: 40px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: @default-bg-color;
  border: 2px solid @slider-bg-color;
  border-radius: 50%;
  cursor: pointer;

  z-index: 3;

  &:hover {
    border-color: @slider-hover-color;
  }

  &:active {
    border-color: @slider-active-color;
  }

  &:hover .slider__controls {
    color: @slider-hover-color;
  }

  &:active .slider__controls {
    color: @slider-active-color;
  }
}

.slider__controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: @slider-bg-color;
}

.slider__controls-result {
  display: block;

  width: 2px;
  height: 256px;

  position: absolute;
  top: -110px;
  left: 50%;
  transform: translateX(-50%);

  background-color: @slider-bg-color;
}
