.widget {
  min-width: 280px;

  padding: 25px 0 40px;

  background-color: @additional-bg-color;

  @media (min-width: @tablet) {
    padding: 43px 0 100px;

    background-image: linear-gradient(@default-bg-color, @default-bg-color 619px, @additional-bg-color 619px, @additional-bg-color);
  }

  @media (min-width: @desktop) {
    padding-top: 0;
    padding-bottom: 75px;

    background-image: linear-gradient(@default-bg-color, @default-bg-color 135px, @additional-bg-color 135px, @additional-bg-color);
  }
}

.widget__layout {
  @media (min-width: @desktop) {
    display: flex;
    justify-content: space-between;
  }
}

.widget__wrapper {
  margin: 0 20px;

  @media (min-width: @tablet) {
    margin: 0 30px;
  }

  @media (min-width: @desktop) {
    margin: 0 110px;
  }
}

.widget__title {
  margin-top: 0;
  margin-bottom: 40px;

  .heading;

  @media (min-width: @tablet) {
    margin-bottom: 63px;

    .extra-heading;
  }

  @media (min-width: @desktop) {
    margin-bottom: 146px;

    .extra-heading;
  }
}

.widget__subtitle {
  margin-top: 0;
  margin-bottom: 34px;

  @media (min-width: @tablet) {
    margin-bottom: 69px;
  }

  @media (min-width: @desktop) {
    margin-bottom: 84px;
    max-width: 436px;
  }
}

.widget__info-container {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 20px;

  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop) {
    display: grid;
    gap: 55px;
  }
}

.widget__info {
  margin: 0;

  display: flex;
  justify-content: space-evenly;

  @media (min-width: @tablet) {
    gap: 76px;
  }

  @media (min-width: @desktop) {
    gap: 42px;
  }
}

.widget__info-item {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  justify-content: center;

  gap: 7px;

  text-align: center;

  @media (min-width: @desktop) {
    gap: 11px;
  }
}

.widget__info-term {
  order: 2;

  .title--xs;
  text-transform: lowercase;

  @media (min-width: @tablet) {
    .title--xs-table;
  }
}

.widget__break {
  @media (min-width: @tablet) {
    display: none;
  }
}

.widget__info-def {
  margin-left: 0;

  .title--m;

  @media (min-width: @tablet) {
    .title--l;
  }
}

.widget__summary {
  .title;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: @tablet) {
    text-align: end;

    .promo-title--tablet;
  }
}

.widget__summary-price {
  @media (min-width: @desktop) {
    text-align: start;

    margin-left: 63px;
  }
}

.widget__summary-break {
  display: none;

  @media (min-width: @tablet) {
    display: inline-block;
  }

  @media (min-width: @desktop) {
    display: none;
  }
}

.widget__slider-container {
  margin-top: 20px;

  display: flex;
  justify-content: center;

  @media (min-width: @tablet) {
    margin-top: 100px;
  }

  @media (min-width: @desktop) {
    margin-top: 0;
  }
}
