// Mixins

.basic-text-style() {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: @basic-text-color;
}

.secondary-text-style (@font-family; @font-style; @font-weight; @font-size; @line-height; @color) {
  font-family: @oswald;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
  color: @color;
}

.extra-heading() {
  font-family: @oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;

  color: @secondary-text-color;
}

.heading() {
  font-family: @oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  color: @secondary-text-color;
}

.sub-heading() {
  font-family: @oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  color: @secondary-text-color;
}

.title() {
  font-family: @oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;

  color: @secondary-text-color;
}

.subtitle() {
  font-family: @oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: @secondary-text-color;
}

.button() {
  font-family: @oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: @default-text-color;
}
