// Text style

@oswald: "Oswald", "Tahoma", sans-serif;

// Text color

@default-text-color: #FFFFFF;
@basic-text-color: #444444;
@secondary-text-color: #000000;
@additional-text-color: #111111;
@card-title-text-color: #222222;
@input-form-text-color: #222222;
@footer-text-color: #666666;
@counter-text-color: #F2F2F2;

// Buttons Color

@basic-button-color: #68B738;
@basic-button-color--hover: #5EAA2F;
@basic-button-color--active: #5EAA2F;

@secondary-button-color: #F2F2F2;
@secondary-button-color--hover: #EBEBEB;
@secondary-button-color--active: #EBEBEB;

// Background's color

@default-bg-color: #ffffff;
@basic-bg-color: #000000;
@secondary-bg-color: #f2f2f2;
@additional-bg-color: #eaeaea;
@slider-bg-color: #666666;

@hero-bg-color: rgba(104, 183, 56, 0.85);

// Border color

@basic-border-color: #E6E6E6;
@secondary-border-color: #D9D9D9;
@secondary-border-color--additional: #D7D7D7;
@catalog-border-color--additional: #f2f2f2;
@card-border-color: #EBEBEB;
@additional-border-color: #CDCDCD;


// Slider statement color

@slider-hover-color: #68b738;
@slider-active-color:  #5eaa2f;

// Form Inputs color

@input-border-color: #e7e7e7;
@input-hover-border-color: #cdcdcd;
@input-focus-border-color: #444444;
@input-error-border-color: #ff8282;

// Form Checkboxes color

@checkbox-border-color: #cdcdcd;
@checkbox-hover-border-color: #bababa;
@checkbox-controls-color: #68b738;

// Media queries

@extra-mobile: 528px;
@tablet: 768px;
@desktop: 1280px;
